{% extends '::base.html.twig' %}
{% set body_id = 'eleve_remue_meninges' %}

{% block title %}
    Eleve - Remue-Meninges / Images Associées
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px">
                <br>
                <a class="btn btn-default margin_top_2" href="{{ path("eleve_remue_meninges") }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
            </div>
            <div class="col-lg-offset-3 col-lg-2 padding2">
                <a class="btn btn-default">Session Eleve > Remue-meninges > Images Associées</a>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 transparent">
                <br>
                <p>Images associées: À l'aide de tes connaissances, réécris dans chaque case à quel type de géothermie correspond chaque illustration :</p>
                <br>
                <p id="propositions"> très basse énergie - basse énergie - profonde</p>
                <br>
                <br>
                <form class="form-inline center" method="post" action="{{ path('eleve_remue_meninges_images_associees') }}">
                    <div class="form-group">
                        <label for="rp1">Case 1</label>
                        <input class="form-control" type="text" name="rp1">

                        <label for="rp2">Case 2</label>
                        <input class="form-control" type="text" name="rp2">

                        <label for="rp3">Case 3</label>
                        <input class="form-control" type="text" name="rp3">

                        <input class="form-control" type="submit" value="Valider">
                    </div>
                </form>
                <br>
                <br>
                <img class="img-responsive center-block" src="{{ asset('bundles/app/img/soulz_ressources.jpg') }}">
                <br>
            </div>
        </div>
    </div>
    <br>
    <footer class="navbar-fixed-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ path('eleve') }}">Session Eleve</a></li>
            <li class="active"><a href="{{ path('eleve_remue_meninges') }}">Remue-Meninges</a></li>
            <li class="active"><a href="{{ path('eleve_remue_meninges_images_associees') }}">Images Associées</a></li>
        </ol>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('.form-control').on('focusin',function () {
            if($(this).hasClass('error'))
            {
                $(this).removeClass('error');
            }
        });

        $('.form-inline').on('submit',function(){

            $('#form .alert.alert-success').remove();
            var url = $(this).attr('action');
            var data = $(this).serialize();

            $.post(url,data,function(data){
                var rp = data.rp;

                if(rp == 'rp1')
                {
                    $('input[name=rp1]').addClass("error");
                }

                if(rp == 'rp2')
                {
                    $('input[name=rp2]').addClass("error");
                }

                if(rp == 'rp3')
                {
                    $('input[name=rp3]').addClass("error");
                }

                if(data.alert)
                {
                    $('.form-inline').after(data.alert)
                }
            },'json');
            return false;
        });

    </script>
{% endblock %}