{% extends '::base.html.twig' %}
{% set body_id = 'eleve' %}

{% block title %}
    Eleve - Ajout d'une note
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome/font-awesome.min.css')}}">
{% endblock %}
{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px"></a>
            </div>
            <div class="col-lg-offset-3 col-lg-2 text-center">
                <br>
                <a class="btn btn-default">Session Eleve</a>
            </div>
        </div>
        <div class="col-lg-offset-1 col-lg-10 transparent">
            <br>
            {{ form_start(
            form_update,
            {   'method': 'post',
                'action': path('eleve_notes_modification',{'id':id}),
                'attr': {
                'id':'form_create',
                'autocomplete':'off'}
            }
            ) }}
            <div class="col-lg-offset-4 col-lg-4">
                {{ form_label(form_update.title,"Titre") }}
                {{ form_widget(form_update.title, {'attr':{'class':'form-control'}})}}

                {{ form_label(form_update.about,"À propos de") }}
                {{ form_widget(form_update.about, {'attr':{'class':'form-control'}})}}

                {{ form_label(form_update.content,"Contenu") }}
                {{ form_widget(form_update.content, {'attr':{'class':'form-control'}})}}
                <br>
                <div class="text-center">
                    {{ form_widget(form_update.save,{'attr':{'class':'btn btn-info '}})}}
                    <a class="btn btn-warning" href="{{ path('eleve_notes') }}">Retour</a>
                </div>
                <br>
                {{ form_end(form_update) }}
            </div>

        </div>
    </div>
{% endblock %}