{% extends '::base.html.twig' %}
{% set body_id = 'eleve_remue_meninges' %}

{% block title %}
    Eleve - Notes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome/font-awesome.min.css')}}">
{% endblock %}
{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px">
                <br>
                <a class="btn btn-default margin_top_2" href="{{ path("eleve") }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
            </div>
            <div class="col-lg-offset-3 col-lg-2 text-center padding2">
                <a class="btn btn-default">Session Eleve</a>
            </div>
        </div>
        <div class="col-lg-offset-1 col-lg-10 transparent" id="notes">
            <div class="col-lg-12 text-center">
                <div class="col-lg-offset-4 col-lg-4">
                    <a class="btn btn-success" href="{{ path('eleve_notes_ajout') }}">Ajouter une note</a>
                </div>
            </div>
            <br><br>
            <div class="col-lg-12 panel-group margin_top_2">
                {% for note in notes %}
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>{{ note.title }}</strong> | À propos de : <strong>{{ note.about }}</strong> | Le <strong>{{ note.createAt | date ("d/m/Y") }}</strong></div>
                            <div class="panel-body">{{ note.content }}</div>
                            <div class="panel-footer text-center">
                                <a class="btn btn-warning" href="{{ path('eleve_notes_modification', {'id': note.id}) }}">Modifier</a>
                                <a class="btn btn-danger" href="{{ path('eleve_notes_suppression', {'id': note.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
        </div>
    </div>
    <footer class="navbar-fixed-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ path('eleve') }}">Session Eleve</a></li>
            <li class="active"><a href="{{ path('eleve_remue_meninges') }}">Remue-Meninges</a></li>
        </ol>
    </footer>
{% endblock%}