{% extends '::base.html.twig' %}
{% set body_id = 'eleve_remue_meninges' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Eleve - Remue-Meninges / Reconstitution
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px">
                <br>
                <a class="btn btn-default margin_top_2" href="{{ path("eleve_remue_meninges") }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
            </div>
            <div class="col-lg-offset-3 col-lg-2 padding2">
                <a class="btn btn-default">Session Eleve > Remue-meninges > Reconstitution</a>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 transparent" id="container_drag_drop">
                <br>
                <p><strong>Reconstitution:</strong> À l'aide de la vidéo "Démonstration : le dragage en mer" située dans Mission - GEOTREF reconstitue la chronologie de la méthodologie de recueil.</p>
                <br>
                <br>
                <form class="myform" method="post" action="{{ path('eleve_remue_meninges_reconstitution') }}">
                <div class="row text-center ">
                    <div class="col-lg-offset-1 col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V01.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_orange text-center" type="text" name="rp1"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V02.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_orange text-center" type="text" name="rp2"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V03.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_orange text-center" type="text" name="rp3"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V04.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_orange text-center" type="text" name="rp4"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V05.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_orange text-center" type="text" name="rp5"/>
                    </div>
                </div>
                <br>
                {#<div class="row">
                    <div class="col-lg-offset-1 col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V06.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_blue text-center center-block" type="text" name="rp6"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V07.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_blue text-center" type="text" name="rp7"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V08.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_blue text-center" type="text" name="rp8"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V09.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_blue text-center" type="text" name="rp9"/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <video width="240px" height="160px" src="{{ asset('bundles/app/videos/V10.mp4') }}" controls="controls"></video>
                        <br>
                        <input class="round_blue text-center" type="text" name="rp10"/>
                    </div>
                </div>#}
                    <br>
                <div class="row">
                    <div class="col-lg-offset-5 col-lg-2 text-center">
                      <input class="btn btn-default" type="submit" value="Valider">
                    </div>
                </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <br>
    <footer class="navbar-fixed-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ path('eleve') }}">Session Eleve</a></li>
            <li class="active"><a href="{{ path('eleve_remue_meninges') }}">Remue-Meninges</a></li>
            <li class="active"><a href="{{ path('eleve_remue_meninges_reconstitution') }}">Reconstitution</a></li>
        </ol>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">

        $('.myform').on('submit',function () {
            var url = $(this).attr('action');
            var data = $(this).serialize();

            $.post(url,data,function (data){
                if(data.alert) {

                    $('.myform .alert.alert-success').remove();
                    $('.myform .alert.alert-danger').remove();
                    $('.myform').append(data.alert);

                }
                if(data.error_rep) {

                    $('.myform .alert.alert-success').remove();
                    $('.myform .alert.alert-danger').remove();
                    $('.myform').append(data.error_rep);

                }

                if(data.reponses){

                    $('input[name="rp1"]').val(data.reponses['rp1']);
                    $('input[name="rp2"]').val(data.reponses['rp2']);
                    $('input[name="rp3"]').val(data.reponses['rp3']);
                    $('input[name="rp4"]').val(data.reponses['rp4']);
                    $('input[name="rp5"]').val(data.reponses['rp5']);

                    $('input[type=submit]').prop('disabled',true);

                }
            },'json');
            return false;
        })
    </script>

{% endblock %}