{% extends 'AppBundle:Enseignant:documents.html.twig' %}
{% set body_id = 'enseignant_documents' %}

{% block title %}
    Enseignant - Ajout d'un document
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px">
                <br>
                <a class="btn btn-default margin_top_2" href="{{ path("enseignant") }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
            </div>
            <div class="col-lg-offset-3 col-lg-2 padding2">
                <a class="btn btn-default">Session Enseignant > Ajout d'un document</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                {{ form_start(form_create,{'method':'post','attr': {'id':'form_create','autocomplete':'off'}}) }}

                {{ form_widget(form_create.document_file,{'attr':{'class':'form-control'}}) }}

                <div class="text-center">
                    {{ form_widget(form_create.save,{'attr':{'class':'btn btn-info '}})}}
                    <a class="btn btn-warning" href="{{ path('enseignant_documents') }}">Retour</a>
                </div>
                {{ form_end(form_create) }}
            </div>
        </div>
    </div>
{% endblock %}