{% extends '::base.html.twig' %}
{% set body_id = 'enseignant_documents' %}

{% block title %}
    Enseignant - Documents
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px"></a>
            </div>
            <div class="col-lg-offset-3 col-lg-2">
                <br>
                <a class="btn btn-default">Session Enseignant > Photos</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8" id="documents">
                <ul>
                    <li><a href="{{ asset('bundles/app/documents/geoline.fr.pdf') }}"> Mission - GEOTREF</a></li>
                    <li>Le bateau ANTEA</li>
                    <li>Combinaison de survie</li>
                    <li>Des instruments pour la géothermie sur les trottoirs de Valence</li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="navbar-fixed-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ path('enseignant') }}">Session Enseignant</a></li>
            <li class="active"><a href="{{ path('enseignant_documents') }}">Documents</a></li>
        </ol>
    </footer>
{% endblock %}