{% extends 'base.html.twig' %}
{% set body_id = 'enseignant' %}

{% block title %}
    Enseignant - Introduction
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome/font-awesome.min.css')}}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px"></a>
            </div>
            <div class="col-lg-offset-3 col-lg-2">
                <br>
                <a class="btn btn-default">Session Enseignant</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8" id="intro">
                <div id="container_intro">
                <p id="u">Introduction</p>
                <p>
                    Bienvenue sur la plate-forme geoline.fr.
                    <br/>
                    Crée en 2016, elle sert à fournir des documents sources (audio, video, photo, etc.) sur l’étude de la géothermie dans la Caraïbe.
                    Ces documents sont issus des travaux de la collaboration de compagnie GEOTREF et des enseignants chercheurs de l’Université des
                    Antilles qui étudient les réservoirs géothermiques fracturés.
                </p>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-3 text-center element hide">
                    <a><i class="fa fa-music fa-3x"></i></a>
                    <p>Audios</p>
                </div>

                <div class="col-lg-3 text-center element hide">
                    <a href="{{ path('enseignant_videos') }}"><i class="fa fa-play-circle-o fa-3x"></i></a>
                    <p>Videos</p>
                </div>
                <div class="col-lg-3 text-center element hide">
                    <a href="{{ path('enseignant_photos') }}"><i class="fa fa-camera fa-3x"></i></a>
                    <p>Photos</p>
                </div>
                <div class="col-lg-3 text-center element hide">
                    <a href="{{ path('enseignant_documents') }}"><i class="fa fa-file fa-3x"></i></a>
                    <p>Documents</p>
                </div>
                <div class="col-lg-offset-5 col-lg-1 text-center">
                    <a id="computer"><i class="fa fa-laptop fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <footer class="navbar-fixed-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ path('enseignant') }}">Session Enseignant</a></li>
            <li class="active"><a href="{{ path('enseignant') }}">Introduction</a></li>
        </ol>
    </footer>


{% endblock %}

{% block javascripts %}
    <script type=application/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>

        $('#computer').on('click',function(){
            $('.element').removeClass("hide");
        });

    </script>
{% endblock %}
