<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block title %}
            <title>Geoline - Inscription/Connexion</title>
        {% endblock %}
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/bootstrap-3.3.6-dist/css/bootstrap.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/fonts/fonts.css') }}">
        {% endblock %}
    </head>
    <body id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1" id="logo_geoline">
                <img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px">
            </div>
        </div>
        <div class="row">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <footer class="navbar-fixed-bottom">
            <div class="col-lg-1">
                <img src="{{ asset('bundles/app/img/logo-ESPE-UA-100px.jpg') }}" height="50px" width="200px">
            </div>
            <div class="col-lg-offset-4 col-lg-1">
                <img src="{{ asset('bundles/app/img/cropped-logo_crref_comprime.jpg') }}" height="50px" width="200px">
            </div>
            <div class="col-lg-offset-4 col-lg-1">
                <img src="{{ asset('bundles/app/img/copy-logo-03-web.png') }}" height="50px" width="200px">
            </div>
        </footer>
    </div>

    </body>
</html>
